@{
    ViewData["Title"] = "About";
}


<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="~/images/Favour Ezeh (2).jpeg" alt="users">
            </div>
            <div class="about-col-2">
                <h2 class="sub-title">About Me<span class="color" >.</span></h2>
                <p>
                    Web developer with expertise in creating innovative and user-friendly websites. Skilled in HTML,
                    CSS, JavaScript, and various web development tools. Committed to delivering high-quality work
                    with exceptional attention to detail. Passionate about exploring new technologies and finding
                    creative solutions to complex problems.
                </p>
                <ul>
                    <li class="tab-links active-link" onclick="openTab('skills')">Skills</li>
                    <li class="tab-links" onclick="openTab('education')">Education</li>
                    <li class="tab-links" onclick="openTab('experiences')">Experiences</li>
                </ul>

                <div class="tab-contents active-tab" id="skills">
                    <h3 class="bgcolor">Web Designing</h3>
                    <p>Creating Innovative Designs</p>

                    <h3 class="bgcolor">Entrepreneurship</h3>
                    <p>Using technology for earning</p>

                    <h3 class="bgcolor">Blogging</h3>
                    <p>Covering the trends in Tech</p>

                </div>

                <div class="tab-contents education" id="education">
                    <h3 class="bgcolor">2016 - 2020  </h3>
                    <p>BSc Finance and Banking | University of Port Harcourt</p>

                    <h3 class="bgcolor">2009 - 2014</h3>
                    <p> Olobo Premier College</p>

                    <h3 class="bgcolor">2004 - 2009</h3>
                    <p>Primary | Renewed The Kings Group of School</p>

                </div>

                <div class="tab-contents experiences" id="experiences">
                    <h3 class="bgcolor">Third Unicorn</h3>
                    <p>Works as a web developer</p>

                    <h3 class="bgcolor"> Alx Africa</h3>
                    <p>Worked as an trainee, learned a lot with professional training.</p>

                    <h3 class="bgcolor">Zulfiqar</h3>
                    <p>work as a front-end developer</p>
                </div>
            </div>
        </div>
    </div>
</div>




