@{
    ViewData["Title"] = "Services";
}
<!-- Services -->
<section class="services" id="services">
    <div class="center-text">
        <h2>My <span>Services</span></h2>
    </div>

    <div class="services-content">
        <div class="box">
            <img src="~/images/s-1.svg">
            <h3>UI/UX Design</h3>
            <p>
                Fringilla dapibus platean interdum justoutan
                elentum lectus tellus midign issimer motana egestas
                imperdiet solution.
            </p>
            <a href="#">
                Download now
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>

        <div class="box">
            <img src="~/images/s-2.svg">
            <h3>UI/UX Design</h3>
            <p>
                Fringilla dapibus platean interdum justoutan
                elentum lectus tellus midign issimer motana egestas
                imperdiet solution.
            </p>
            <a href="#">
                Download now
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>

        <div class="box">
            <img src="~/images/s-3.svg">
            <h3>UI/UX Design</h3>
            <p>
                Fringilla dapibus platean interdum justoutan
                elentum lectus tellus midign issimer motana egestas
                imperdiet solution.
            </p>
            <a href="#">
                Download now
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>

    </div>
</section>
